<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imeng.web.mapper.AttributeMapper">
    <resultMap id="AttributeVo" type="com.imeng.web.vo.AttributeVo">
        <id property="id" column="id"/>
        <result property="attrCode" column="attrCode"/>
        <result property="name" column="name"/>
        <result property="remarks" column="remarks"/>
        <result property="createTime" column="createTime"/>
        <collection property="details" resultMap="AttributeDetailVo"/>
    </resultMap>
    <resultMap id="AttributeDetailVo" type="com.imeng.web.vo.AttributeDetailVo">
        <id property="id" column="dId"/>
        <result property="attrName" column="dAttrName"/>
        <result property="attrValue" column="dAttrValue"/>
        <result property="remarks" column="dRemarks"/>
        <result property="createTime" column="dCreateTime"/>
    </resultMap>
    <select id="findList" resultType="com.imeng.web.model.Attribute">
        select * from sys_attribute t
    </select>
    <select id="queryAttributeVo" resultMap="AttributeVo">
        SELECT
        attr.id                   id,
        attr.attr_code            attrCode,
        attr.name                 name,
        attr.remarks              remarks,
        attr.create_date          createTime,
        detail.id                 did,
        detail.attr_name          dAttrName,
        detail.attr_value         dAttrValue,
        detail.attr_sort          dAttrSort,
        detail.create_date        dCreateTime
        FROM
        sys_attribute attr
        LEFT JOIN
        sys_attribute_detail detail
        ON attr.id = detail.attr_id
        <where>
            <if test="delFlag!=null">
                AND attr.del_flag = #{delFlag}
                AND detail.del_flag = #{delFlag}
            </if>
            <if test="attrCode!=null">
                AND attr.attr_code = #{attrCode}
            </if>
        </where>
    </select>
</mapper>